@{
    ViewData["Title"] = "Dating List";
}
<h1>@ViewData["Title"]</h1>

<main>
    <div class="date-form">
        <label for="date1">Date:</label>
        <input type="date" id="date1" name="trip-start"
               value="2018-07-22"
               min="2023-01-01" max="2050-12-31">
    </div>
    <section class="bakeryCabinet border-bottom border-top border-dark">
        <div class="heading">
            <h2>Bakery Cabinet</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="bc1" name="bc1" value="Donuts">
                <label for="bc1">Donuts</label><br>
                <input type="checkbox" id="bc2" name="bc2" value="Cookies">
                <label for="bc2">Cookies</label><br>
                <input type="checkbox" id="bc3" name="bc3" value="Muffins">
                <label for="bc3">Muffins</label><br>
                <input type="checkbox" id="bc4" name="bc4" value="Becel Packets">
                <label for="bc4">Becel Packets</label><br>
                <input type="checkbox" id="bc5" name="bc5" value="Butter Packets">
                <label for="bc5">Butter Packets</label><br>
            </form>
        </div>
    </section>

    <section class="syrups border-bottom border-dark">
        <div class="heading">
            <h2>Syrups</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="syrup1" name="syrup1" value="McCafe">
                <label for="syrup1">McCafe</label><br>
                <input type="checkbox" id="syrup2" name="syrup2" value="DT Iced Coffee">
                <label for="syrup2">DT Iced Coffee</label><br>
                <input type="checkbox" id="syrup3" name="syrup3" value="Window Iced Coffee">
                <label for="syrup3">Window Iced Coffee</label><br>
            </form>
        </div>
    </section>

    <section class="mccafe border-bottom border-dark">
        <div class="heading">
            <h2>McCafe Area</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="mcarea1" name="mcarea1" value="Beans">
                <label for="mcarea1">Beans right and left display</label><br>
                <input type="checkbox" id="mcarea2" name="mcarea2" value="Open Beans">
                <label for="mcarea2">Open bag of Beans</label><br>
                <input type="checkbox" id="mcarea3" name="mcarea3" value="Smoothie & Frappe">
                <label for="mcarea3">All Smoothie & Frappe bags in machine including yoghurt</label><br>
                <input type="checkbox" id="mcarea4" name="mcarea4" value="Iced coffee Window">
                <label for="mcarea4">Iced Coffee brewed - Window</label><br>
                <input type="checkbox" id="mcarea5" name="mcarea5" value="Iced Coffee DT">
                <label for="mcarea5">Iced Coffee brewed - DT</label><br>
                <input type="checkbox" id="mcarea6" name="mcarea6" value="Gravy">
                <label for="mcarea6">Gravy</label><br>
                <input type="checkbox" id="mcarea7" name="mcarea7" value="Cheese Curds">
                <label for="mcarea7">Cheese Curds at room temperature</label><br>
            </form>
        </div>
    </section>

    <section class="iceCream border-bottom border-dark">
        <div class="heading">
            <h2>Ice Cream</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="ice1" name="ice1" value="Fudge">
                <label for="ice1">Fudge</label><br>
                <input type="checkbox" id="ice2" name="ice2" value="Caramel">
                <label for="ice2">Caramel</label><br>
                <input type="checkbox" id="ice3" name="ice3" value="Oreo">
                <label for="ice3">Oreo</label><br>
                <input type="checkbox" id="ice4" name="ice4" value="Skor">
                <label for="ice4">Skor</label><br>
                <input type="checkbox" id="ice5" name="ice5" value="Smarties">
                <label for="ice5">Smarties</label><br>
                <input type="checkbox" id="ice6" name="ice6" value="Lto">
                <label for="ice6">LTO Sauce & Toppings</label><br>
            </form>
        </div>
    </section>

    <section class="spoonNcup d-flex border-bottom border-dark">
        <div>
            <div class="heading">
                <h2>Spoon & Cup Sanitizing (Every 2 hours)</h2>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="scs1" name="scs1" value="DT">
                    <label for="scs1">Drive Thru</label><br>
                    <input type="checkbox" id="scs2" name="scs2" value="WN">
                    <label for="scs2">Window</label><br>
                    <input type="checkbox" id="scs3" name="scs3" value="McCafe M">
                    <label for="scs3">McCafe</label><br>
                    <input type="checkbox" id="scs4" name="scs4" value="DT IC">
                    <label for="scs4">DT Iced Coffee</label><br>
                    <input type="checkbox" id="scs5" name="scs5" value="WN IC">
                    <label for="scs5">WN Iced Coffee</label><br>
                </form>
            </div>
        </div>
        <div>
            <div class="subhead">
                <h3>Time</h3>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="time1" name="time1" value="7">
                    <label for="time1">7am</label><br>
                    <input type="checkbox" id="time2" name="time2" value="9">
                    <label for="time2">9am</label><br>
                    <input type="checkbox" id="time3" name="time3" value="11">
                    <label for="time3">11am</label><br>
                    <input type="checkbox" id="time4" name="time4" value="1">
                    <label for="time4">1pm</label><br>
                    <input type="checkbox" id="time5" name="time5" value="3">
                    <label for="time5">3pm</label><br>
                </form>
            </div>
        </div>
    </section>

    <section class="sprayBottles border-dark border-bottom">
        <div class="heading">
            <h2>Spray Bottles</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="sb1" name="sb1" value="Peroxide">
                <label for="sb1">Peroxide Bottles</label><br>
                <input type="checkbox" id="sb2" name="sb2" value="Sanitizer">
                <label for="sb2">Sanitizer Bottles (In kitchen kept beside dirty tray bucket bottom shelf)</label><br>
                <input type="checkbox" id="sb3" name="sb3" value="All">
                <label for="sb3">All Bottles stored in cupboard under sink</label><br>
            </form>
        </div>
    </section>

    <section class="bartowels d-flex border-dark border-bottom">
        <div>
            <div class="heading">
                <h2>Bartowels (Every 2 hours)</h2>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="bar1" name="bar1" value="Kitchen">
                    <label for="bar1">Kitchen</label><br>
                    <input type="checkbox" id="bar2" name="bar2" value="Chlorine Towels">
                    <label for="bar2">Check chlorine & Lids with date sticker (Chlorine Towels)</label><br>
                    <input type="checkbox" id="bar3" name="bar3" value="Window">
                    <label for="bar3">Window</label><br>
                </form>
            </div>
        </div>
        <div>
            <div class="subhead">
                <h3>Time</h3>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="time1" name="time1" value="7">
                    <label for="time1">7am</label><br>
                    <input type="checkbox" id="time2" name="time2" value="9">
                    <label for="time2">9am</label><br>
                    <input type="checkbox" id="time3" name="time3" value="11">
                    <label for="time3">11am</label><br>
                    <input type="checkbox" id="time4" name="time4" value="1">
                    <label for="time4">1pm</label><br>
                    <input type="checkbox" id="time5" name="time5" value="3">
                    <label for="time5">3pm</label><br>
                </form>
            </div>
        </div>
    </section>

    <section class="others border-dark border-bottom">
        <div class="heading">
            <h2>Others</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="other1" name="other1" value="Freezer">
                <label for="other1">Freezer all open muffins covered and dated</label><br>
                <input type="checkbox" id="other2" name="other2" value="openbag">
                <label for="other2">Any open bags of product covered</label><br>
            </form>
        </div>
    </section>

    <section class="kitchenPrepTable border-dark border-bottom">
        <div class="heading">
            <h2>Kitchen Prep Table</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="kitchen1" name="kitchen1" value="All items">
                <label for="kitchen1">All items on the prep table</label><br>
                <input type="checkbox" id="kitchen2" name="kitchen2" value="Extra bacon">
                <label for="kitchen2">Extra trays of bacon</label><br>
                <input type="checkbox" id="kitchen3" name="kitchen3" value="Butter Bottles">
                <label for="kitchen3">All butter bottles</label><br>
                <input type="checkbox" id="kitchen4" name="kitchen4" value="Sauce bags">
                <label for="kitchen4">All sauce bags/bottles on table and tray</label><br>
                <input type="checkbox" id="kitchen5" name="kitchen5" value="Sauce fridge">
                <label for="kitchen5">All sauce bags/bottles in fridge</label><br>
                <input type="checkbox" id="kitchen6" name="kitchen6" value="Sauce guns">
                <label for="kitchen6">All sauce guns</label><br>
                <input type="checkbox" id="kitchen7" name="kitchen7" value="Clarified butter">
                <label for="kitchen7">Open clarified tub</label><br>
                <input type="checkbox" id="kitchen8" name="kitchen8" value="Cream cheese">
                <label for="kitchen8">Open cream cheese tub</label><br>
                <input type="checkbox" id="kitchen9" name="kitchen9" value="Hotcakes">
                <label for="kitchen9">Open hotcakes (need to be wrapped)</label><br>
                <input type="checkbox" id="kitchen10" name="kitchen10" value="Cbac">
                <label for="kitchen10">Open C-bac (needs to be wrapped)</label><br>
                <input type="checkbox" id="kitchen11" name="kitchen11" value="CC tube gun">
                <label for="kitchen11">Cream cheese tube gun</label><br>
                <input type="checkbox" id="kitchen12" name="kitchen12" value="Eggs">
                <label for="kitchen12">Eggs at room temperature</label><br>
                <input type="checkbox" id="kitchen13" name="kitchen13" value="Bagels">
                <label for="kitchen13">Bagels on the tray & in bin</label><br>
                <input type="checkbox" id="kitchen14" name="kitchen14" value="Baked Muffins">
                <label for="kitchen14">Baked Muffins</label><br>
                <input type="checkbox" id="kitchen15" name="kitchen15" value="Baked Cookies">
                <label for="kitchen15">Baked Cookies</label><br>
                <input type="checkbox" id="kitchen16" name="kitchen16" value="Baked Pies">
                <label for="kitchen16">Baked Pies</label><br>
                <input type="checkbox" id="kitchen17" name="kitchen17" value="Griddles">
                <label for="kitchen17">Baked griddles on tray or in bin on table</label><br>
                <input type="checkbox" id="kitchen18" name="kitchen18" value="Shredded lettuce">
                <label for="kitchen18">All shredded lettuce bins made up</label><br>
                <input type="checkbox" id="kitchen19" name="kitchen19" value="Leaf lettuce">
                <label for="kitchen19">Leaf lettuce bin</label><br>
                <input type="checkbox" id="kitchen20" name="kitchen20" value="Slivered onions">
                <label for="kitchen20">All slivered onion bins made up</label><br>
                <input type="checkbox" id="kitchen21" name="kitchen21" value="Cheese Curds">
                <label for="kitchen21">Cheese curds in a cambro container/bag in fridge</label><br>
                <input type="checkbox" id="kitchen22" name="kitchen22" value="Recon onion">
                <label for="kitchen22">Recon shakers made up covered & dated</label><br>
                <input type="checkbox" id="kitchen23" name="kitchen23" value="Code dates1">
                <label for="kitchen23">Check code dates in walk-in for leaf & shredded lettuce</label><br>
                <input type="checkbox" id="kitchen24" name="kitchen24" value="Code dates2">
                <label for="kitchen24">Check code dates in walk-in for slivered onions</label><br>
            </form>
        </div>
    </section>

    <section class="kitchenSanitizing d-flex border-dark border-bottom">
        <div>
            <div class="heading">
                <h2>Kitchen Sanitizing every 2 hours</h2>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="sanitize1" name="sanitize1" value="Tongs">
                    <label for="sanitize1">All tongs & holders</label><br>
                    <input type="checkbox" id="sanitize2" name="sanitize2" value="Spatulas">
                    <label for="sanitize2">All spatulas/hutzlers squeegees & holders</label><br>
                    <input type="checkbox" id="sanitize3" name="sanitize3" value="KPT tools">
                    <label for="sanitize3">Egg KPT tools</label><br>
                    <input type="checkbox" id="sanitize4" name="sanitize4" value="Yolk breaker">
                    <label for="sanitize4">Yolk breaker & holder</label><br>
                    <input type="checkbox" id="sanitize5" name="sanitize5" value="Grill scraper">
                    <label for="sanitize5">Egg grill scraper & holder</label><br>
                </form>
            </div>
        </div>
        <div>
            <div class="subhead">
                <h3>Time</h3>
            </div>
            <div class="form-group">
                <form>
                    <input type="checkbox" id="time1" name="time1" value="7">
                    <label for="time1">7am</label><br>
                    <input type="checkbox" id="time2" name="time2" value="9">
                    <label for="time2">9am</label><br>
                    <input type="checkbox" id="time3" name="time3" value="11">
                    <label for="time3">11am</label><br>
                    <input type="checkbox" id="time4" name="time4" value="1">
                    <label for="time4">1pm</label><br>
                    <input type="checkbox" id="time5" name="time5" value="3">
                    <label for="time5">3pm</label><br>
                </form>
            </div>
        </div>
    </section>

    <section class="cleaning border-dark border-bottom">
        <div class="heading">
            <h2>Cleaning</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="clean1" name="clean1" value="Back sink">
                <label for="clean1">Back sink scrubbed clean & filled with all purpose and sanitizer</label><br>
                <input type="checkbox" id="clean2" name="clean2" value="Cupboard">
                <label for="clean2">Cupboard under flurry dispenser</label><br>
                <input type="checkbox" id="clean3" name="clean3" value="Floors">
                <label for="clean3">Floors under equipment esp grills</label><br>
                <input type="checkbox" id="clean4" name="clean4" value="Parts cart">
                <label for="clean4">Parts cart all equipment stored upside down & clean</label><br>
                <input type="checkbox" id="clean5" name="clean5" value="Q-ing oven">
                <label for="clean5">Q-ing ovens clean inside</label><br>
            </form>
        </div>
    </section>

    <section class="handwash border-dark border-bottom">
        <div class="heading">
            <h2>Hand Washing</h2>
        </div>
        <div class="form-group">
            <form>
                <input type="checkbox" id="hw1" name="hw1" value="Soap">
                <label for="hw1">Soap & papertowel in kitchen, service and both change rooms</label><br>
            </form>
        </div>
    </section>

    <section class="comment">
        <div class="heading">
            <h2>Comments</h2>
        </div>
        <div class="form-group">
            <form>
                <label for="comment">Comments:</label><br>
                <input type="text" id="comment" name="comment"><br><br>
            </form>
        </div>
    </section>

    <section class="btn-submit">
        <form>
            <input type="submit" value="Submit">
        </form>
    </section>
</main>
