@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <section class="checklist">
        <div class="heading">
            <h1>Managers Daily Shift Checklist</h1>
        </div>
        <div class="date-form">
            <label for="date1">Date:</label>
            <input type="date" id="date1" name="trip-start"
                   value="2018-07-22"
                   min="2023-01-01" max="2050-12-31">
        </div>
        <div class="form-group">
            <input type="checkbox" id="cl1" name="cl1" value="Checklist1">
            <label for="cl1">Count into the safe</label><br>
            <input type="checkbox" id="cl2" name="cl2" value="Checklist2">
            <label for="cl2">Complete 1 survey</label><br>
            <input type="checkbox" id="cl3" name="cl3" value="Checklist3">
            <label for="cl3">Bank Run (coin order call in)</label><br>
            <input type="checkbox" id="cl4" name="cl4" value="Checklist4">
            <label for="cl4">Count waste</label><br>
            <input type="checkbox" id="cl5" name="cl5" value="Checklist5">
            <label for="cl5">Complete time run and updating</label><br>
            <input type="checkbox" id="cl6" name="cl6" value="Checklist6">
            <label for="cl6">Verify bar towel buckets</label><br>
            <input type="checkbox" id="cl7" name="cl7" value="Checklist7">
            <label for="cl7">Complete Bank run (coin order?)</label><br>
            <input type="checkbox" id="cl8" name="cl8" value="Checklist8">
            <label for="cl8">Ensure the lobby and lot are 100% cleaned before leaving</label><br>
        </div>
    </section>
</main>