@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <section class="checklist">
      <div class="heading">
        <h1>Managers Daily Shift Checklist</h1>
      </div>
      <div class="date-form">
              <label for="date1">Date:</label>
              <input type="date" id="date1" name="trip-start"
             value="2018-07-22"
             min="2023-01-01" max="2050-12-31">
            </div>
            <div class="form-group">
            <input type="checkbox" id="cl1" name="cl1" value="Checklist1">
            <label for="cl1">Count into the safe</label><br>
            <input type="checkbox" id="cl2" name="cl2" value="Checklist2">
            <label for="cl2">Complete 1 survey</label><br>
            <input type="checkbox" id="cl3" name="cl3" value="Checklist3">
            <label for="cl3">Count waste</label><br>
            <input type="checkbox" id="cl4" name="cl4" value="Checklist4">
            <label for="cl4">Complete time run and updating</label><br>
            <input type="checkbox" id="cl5" name="cl5" value="Checklist5">
            <label for="cl5">Verify bar towel buckets</label><br>
            <input type="checkbox" id="cl6" name="cl6" value="Checklist6">
            <label for="cl6">Ensure the lobby and lot are 100% cleaned before leaving</label><br>
            <input type="checkbox" id="cl7" name="cl7" value="Checklist7">
            <label for="cl7">Set up everything for day on clipboard</label><br>
            <input type="checkbox" id="cl8" name="cl8" value="Checklist8">
            <label for="cl8">Pull charts</label><br>
            <input type="checkbox" id="cl9" name="cl9" value="Checklist9">
            <label for="cl9">Ensure tills are logged on</label><br>
            <input type="checkbox" id="cl10" name="cl10" value="Checklist10">
            <label for="cl10">Shut down kiosks</label><br>
            <input type="checkbox" id="cl11" name="cl11" value="Checklist11">
            <label for="cl11">Fill out envelope</label><br>
            <input type="checkbox" id="cl12" name="cl12" value="Checklist12">
            <label for="cl12">Do Bakery pull</label><br>
            <input type="checkbox" id="cl13" name="cl13" value="Checklist13">
            <label for="cl13">Ensure all items are logged back on tills</label><br>
            <input type="checkbox" id="cl14" name="cl14" value="Checklist14">
            <label for="cl14">Complete autocash and ensure envelope is filled out</label><br>
            <input type="checkbox" id="cl15" name="cl15" value="Checklist15">
            <label for="cl15">Ensure under all equipment in service and kitchen there is no debris or spills</label><br>
            </div>
        <section class="btn-submit">
            <form>
                <input type="submit" value="Submit">
            </form>
        </section>        
    </section>
  </main>