@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Opener List</h5>
                <p class="card-text">List of tasks for the opening manager</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="OpenerList">Start</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nine to Five List</h5>
                <p class="card-text">List of tasks for the 9-5 manager</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="NineToFive">Start</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eleven to Seven List</h5>
                <p class="card-text">List of tasks for the 11-7 manager</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ElevenToSeven">Start</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Closing: Junior List</h5>
                <p class="card-text">List of tasks for the Junior Closing manager</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="CloserJunior">Start</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Closing: Senior List</h5>
                <p class="card-text">List of tasks for the Senior Closing manager</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="CloserSenior">Start</a>
            </div>
        </div>
    </div>
    <div class="col">
             <div class="card">
                         <img src="~/img/cardImg.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                             <h5 class="card-title">Graves List</h5>
                             <p class="card-text">List of tasks for the Graves manager</p>
                             <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="GravesManager">Start</a>
                         </div>
                     </div>
        </div>
</div>
